.ConAll{
    margin-bottom: 85px;

}
.ConAll h1{
    color: var(--white, #FFF);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.ConAll h1 span{
    color: var(--primary, #C778DD);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ConAll a{
    margin-right: 30px;
}