*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Fira Code', monospace; */
}
.container{
  width: 1130px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
li{
  list-style: none;
}
body{
  background: var(--background, #282C33);
}
